.list-group-item {
    color: white;
    font-size: large;
    background-color: gray;
}

.navbar-brand {
    font-size: x-large;
}

a:hover {
    text-decoration: none;
}

.bio-text {
    text-align: center;
}

#about-text, #ref-text {
    font-size: x-large;
    text-align: center;
}

#about-header, #ref-header {
    text-align: center;
    padding-top: 20px;
}